@{
    ViewData["Title"] = "Search";
}

<div class="card shadow-sm rounded-4">
    <div class="card-body">
        <h1 class="mb-3">search pokemon</h1>
        <form method="get">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="example: ditto" />
                <button class="btn btn-primary" type="submit">go</button>
            </div>
        </form>
    </div>
</div>
